/*Google Fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Grandstander:wght@500&display=swap');

/*Gereral styles*/
:root {
    --primary-font:  "Grandstander", cursive;
    --secondary-font: "Bungee Shade", sans-serif;
    --primary-color: #345030;
    /*palm leaf*/
    --secondary-color: #120808;
    /* night rider */
    --highlight-color: #FDE4A1;
    /* peach crème brûlée */
    --highlight-color-light: #ffffff;
    /* white */
    --highlight-color-headers: #DAF033;
    /*lime fizz*/
}

/*Global styles*/

body {
    font-family: var(--secondary-font);
    /*color: var(--highlight-color);
    background-color: var(--primary-color);*/
    /*color:black;*/
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    margin: 0px;
}
p {
    font-family: var(--primary-font);
    color: purple;
    width: 100%;
    text-align: start;
    margin-top: 0px;
    margin-right: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5em;
    display: flex;
}

h1, h2, h3 {
    color:darkgreen;
    text-align: center;
    margin: 2rem;
}


/*Navbar styling*/
#navbar {
    background-color: blue;
    color: greenyellow;
    font-family: (--secondary-font);
    font-size: 30px;
    align-items: end;
    display: flex;
    min-width: 100%;
    top: 0;
    margin: 0;
}

.nav-container {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin: 0;
    width: 100%;
}
.nav-active {
    color: orange;
}
#navbar .logo {
    width: 50px;
}

.nav-link {
    font-size: 30px;
}

.container-fluid {
    min-width: 100%;
}
